.card-icon {
  width: 350px;
  height: 250px;
  margin-top: 50px;
  color: #6d69fb;
}
.card-container {
  border-radius: 10px;
  height: 450px;
  outline: 2px solid var(--secondary-variant);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.774);
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: pre-wrap;
  align-items: center;
}
.card-container:hover > .description {
  visibility: visible;
  opacity: 1;
}
.card-heading {
  font-size: 30px;
  padding: 20px 0;
}
.description {
  position: absolute;
  background-color: var(--background);
  top: 80px;
  padding: 0 20px;
  font-size: 18px;
  transition: all 0.3s ease-out;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.card-list > li {
  list-style: none;
  text-indent: 20px;
}
