.my-projects {
  background-color: lightcyan;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);
  justify-content: center;
  grid-row-gap: 15px;
}
form p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.input-span input {
  width: 100%;
  padding: 10px 20px;
}
.form-container {
  background-color: lightseagreen;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.contact-me {
  grid-row: 1/2;
  grid-column: 1/3;
}
.contact-text {
  grid-row: 2/3;
  grid-column: 1/3;
}
.input-span {
  grid-row: 3/4;
  grid-column: 1/3;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 15px;
}
div input {
  font-size: 18px;
}
#message {
  grid-row: 4/5;
  grid-column: 1/3;
  font-size: 20px;
  padding: 10px 20px;
}
.btn-container {
  grid-row: 5/6;
  grid-column: 1/3;
}
.send.btn {
  display: flex;
  justify-content: center;
  height: 40px;
}
.footer {
  margin-top: 80px;
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  width: 231.21px;
  align-items: center;
}
.footer-image {
  width: 100px;
  border-radius: 50%;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-center {
  margin: 0 20px;
}
.icon-span {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
.social-icon {
  margin: 0 10px;
  width: 30px;
}
