.my-story-section {
  margin-top: 80px;
  height: 100%;
  font-size: 25px;
  position: relative;
}
.quote {
  font-style: italic;
  text-decoration: none;
}
.story-portrait {
  height: 450px;
  float: right;
  margin-left: 10px;
}
@media only screen and (max-width: 945px) {
  .story-portrait {
    height: 400px;
    float: right;
    margin-left: 10px;
  }
  .my-story-section {
    font-size: 23px;
  }
}
@media only screen and (max-width: 766px) {
  .story-portrait {
    height: 400px;
    width: 301.2px;
    float: none;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .my-story-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
  }
}
@media only screen and (max-width: 766px) {
  .my-story-section {
    font-size: 18px;
  }
}
