.project-image {
  width: 100%;
}

.js-slider {
  background-color: antiquewhite;
  position: relative;
  height: 562.5px;
  /* max-width: 1100px; */
  /* Image ratio 16:9 */
  width: 1000px;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 0.5s ease-out;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 50;
  background-color: red;
  border: none;
  height: 55px;
  width: 55px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
}
.slider__btn--left {
  left: 6%;
  /* transform: translate(-50%, -50%); */
}
.slider__btn--right {
  right: 6%;
  /* transform: translate(50%, 50%); */
}
.slider-container {
  display: flex;
  align-items: center;
  /* background-color: green; */
  position: relative;
  flex-direction: column;
}

.project-overview {
  background-color: #000;
  color: white;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 1100px;
}
.project-title {
  font-size: 20px;
  margin-bottom: 20px;
}
.language-container {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
}
.language {
  padding: 5px 5px;
  border: white 2px solid;
  margin-right: 10px;
  border-radius: 10px;
}
.paragraph-text {
  margin-bottom: 20px;
}
.btn-visit {
  margin-right: 20px;
  text-align: center;
}
.btn-code {
  text-align: center;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.project-overview:hover {
  opacity: 1;
}
