.toggle-btn {
  margin: 0 0;
  position: fixed;
  right: 40px;
  top: 20px;
  z-index: 6;
}

.icon {
  width: 18px;
  height: 18px;
  z-index: 10;
}
.sun {
  margin-left: -3px;
}
.moon {
  margin-right: -3px;
}
/* the switch- the box around the slider */
.switch {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  height: 40px;
  padding: 0 12px;
  border: 2px solid var(--secondary);
}
/*Hide Default HTML checkbox*/
.switch input {
  display: none;
}

/*the slider*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s ease-out;
  background-color: lightgrey;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background-color: rgb(255, 255, 255);
  left: 3px;
  top: 3px;
  transition: 0.4s ease-out;
}
input:checked + .slider {
  background-color: var(--primary-variant);
}
input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: black;
}
@media only screen and (max-width: 820px) {
  .toggle-btn {
    right: 50%;
    transform: translateX(50%);
    z-index: 6;
  }
}
@media only screen and (min-width: 1664px) {
  .toggle-btn {
    right: 10%;
  }
}
@media only screen and (min-width: 1664px) {
  .toggle-btn {
    right: 15%;
  }
}
@media only screen and (min-width: 2158px) {
  .toggle-btn {
    right: 20%;
  }
}
@media only screen and (min-width: 2587px) {
  .toggle-btn {
    right: 25%;
  }
}
@media only screen and (min-width: 2987px) {
  .toggle-btn {
    right: 30%;
  }
}
