@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap");

:root {
  /* light mode color variables */
  --primary-color: #6200ee;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;
  --background: #ffffff;
  --on-background: #000000;
}
/*set a background color on all elements whose has a data-theme attribute equal to 'dark'*/
[data-theme="dark"] {
  /* dark mode color variables */
  --primary-color: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;
  --background: #121212;
  --on-background: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.app-container {
  padding: 0 80px;
}
body {
  background-color: var(--background);
  color: var(--on-background);
}
html {
  scroll-behavior: smooth;
}
section {
  height: 100%;
}

.introduction {
  display: flex;
  margin-top: 80px;
}
.introduction-text {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 53vw;
}

.portrait-photo {
  width: 35vw;
  position: absolute;
  right: 80px;
  top: 80px;
}

span li:last-child {
  margin-left: 15px;
}

.heading-primary {
  font-size: 90px;
}

.heading-secondary {
  font-size: 50px;
}
.summary {
  font-size: 25px;
  padding-right: 200px;
  margin-top: 30px;
  line-height: 33px;
  margin-bottom: 30px;
}

.about-me {
  text-align: center;
}

.divider {
  width: 100%;
  height: 2px;
  margin-top: 80px;
  background-color: var(--secondary-variant);
}

.section-heading {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
  font-family: "Kaushan Script", cursive;
}
.signature {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  cursor: pointer;
}

a {
  text-decoration: none;

  color: var(--on-background);
}

/* footer styling */

.footer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  width: 155px;
  align-items: center;
}
.footer-image {
  width: 100px;
  border-radius: 50%;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 155px;
}
.footer-center {
  margin: 0 20px;
  width: 155px;
  display: flex;
  justify-content: center;
}
.icon-span {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.social-icon {
  margin: 0 10px;
  height: 30px;
  width: 30px;
  color: var(--on-background);
}

/*Navbar styling*/
/**/
.nav-container {
  position: relative;
  display: flex;
  height: 100%;
}
.brand-container {
  list-style: none;
  position: fixed;
  top: 20px;
  z-index: 6;
}
.nav-bar {
  display: flex;
  list-style: none;
  justify-content: center;
  height: 80px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 80px;
  background-color: rgba(211, 211, 211, 0.302);
  z-index: 5;
}
.right-nav {
  display: flex;
  position: relative;
}
.li.btn {
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  border: 2px solid var(--secondary);
  padding: 5px 15px;
  width: 115px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  position: relative;
  overflow: hidden;
}
.btn:hover {
  border-color: var(--on-background);
  color: var(--background);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: all 0.3s ease-out;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
}
.btn.btn-slide {
  z-index: 1;
}
.hamburger {
  display: none;
}
.hamburger-icon {
  background-color: var(--background);
  width: 25px;
  height: 25px;
  padding: 10px;
  display: none;
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 7;
}
.drop-down {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hamburger-icon:hover {
  background-color: var(--on-background);
  color: var(--background);
}

@media only screen and (max-width: 1420px) {
  .heading-primary {
    font-size: 80px;
  }
}
@media only screen and (max-width: 1320px) {
  .heading-primary {
    font-size: 70px;
  }
  .summary {
    padding-right: 150px;
  }
}
@media only screen and (max-width: 1212px) {
  .app-container {
    padding: 0 60px;
  }
}

@media only screen and (max-width: 1190px) {
  .introduction-text {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 1102px) {
  .heading-primary {
    font-size: 60px;
  }
  .summary {
    font-size: 20px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 1052px) {
  .app-container {
    padding: 0 40px;
  }
  .portrait-photo {
    width: 33vw;

    right: 60px;
  }
  .introduction-text {
    padding: 45px 0;

    width: 57vw;
  }
}
@media only screen and (max-width: 955px) {
  .nav-bar {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 908px) {
  .portrait-photo {
    width: 30vw;

    right: 40px;
  }
  .introduction-text {
    padding: 30px 0;
    width: 60vw;
  }
  .heading-primary {
    font-size: 50px;
  }
  .summary {
    font-size: 18px;
  }
  .footer {
    margin-top: 20px;
    justify-content: space-evenly;
  }
  .footer-image {
    width: 80px;
  }
}
@media only screen and (max-width: 820px) {
  .hamburger-icon {
    display: block;
  }
  .hamburger {
    width: 45px;
    height: 45px;
    color: var(--on-background);
    background: none;
    border: none;
    display: initial;
  }

  .nav-bar {
    display: block;
  }
  .drop-down {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    right: 40px;
    top: 65px;
    width: fit-content;
    background-color: var(--background);
    height: 200px;
  }
  .introduction {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 724px) {
  .introduction {
    flex-direction: column-reverse;
    align-items: center;
  }
  .introduction-text {
    width: 80vw;
  }
  .portrait-photo {
    position: initial;
    margin-top: 20px;
  }

  .summary {
    padding-right: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 642px) {
  .footer-image {
    display: none;
  }
  .app-container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 523px) {
  .heading-primary {
    font-size: 40px;
  }
  .portrait-photo {
    width: 40vw;
  }
}
@media only screen and (max-width: 494px) {
  .app-container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 459px) {
  .footer {
    flex-direction: column;
  }
  .footer-left {
    margin-bottom: 15px;
  }
  .footer-right {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 420px) {
  .heading-primary {
    font-size: 35px;
  }
  .summary {
    font-size: 16px;
    line-height: 28px;
  }
  .footer-left {
    font-size: 13px;
  }
}
@media only screen and (max-width: 365px) {
  .heading-primary {
    font-size: 30px;
  }
  .summary {
    font-size: 16px;
    line-height: 28px;
  }
  .portrait-photo {
    width: 50vw;
  }
  .section-heading {
    font-size: 50px;
  }
}
/*For widescreens*/
@media only screen and (min-width: 1500px) {
  .app-container {
    width: 1522px;
    margin: auto;
  }
  .nav-container {
    width: 1362px;
  }
}
