@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Oswald&display=swap");

:root {
  /* light mode color variables */
  --primary-color: #6200ee;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;
  --background: #ffffff;
  --on-background: #000000;
}
/*set a background color on all elements whose has a data-theme attribute equal to 'dark'*/
[data-theme="dark"] {
  /* dark mode color variables */
  --primary-color: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;
  --background: #121212;
  --on-background: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.app-container {
  padding: 0 80px;
}
body {
  background-color: var(--background);
  color: var(--on-background);
}
html {
  scroll-behavior: smooth;
}
section {
  height: 100%;
}

.nav-container {
  position: relative;
}
.nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 80px;
  background-color: rgba(211, 211, 211, 0.302);
  z-index: 30;
}
.right-nav {
  display: flex;
}

.introduction {
  display: flex;
  margin-top: 80px;
}
.introduction-text {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 53vw;
}

.portrait-photo {
  width: 35vw;
  position: absolute;
  right: 80px;
  top: 80px;
}
.li.btn {
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  border: 2px solid var(--secondary);
  padding: 5px 15px;
  width: 115px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  position: relative;
  overflow: hidden;
}
.btn:hover {
  border-color: var(--on-background);
  color: var(--background);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--secondary);
  transition: all 0.3s ease-out;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
}
.btn.btn-slide {
  z-index: 1;
}
span li:last-child {
  margin-left: 15px;
}
.toggle-btn {
  margin: 0 0;
}

.heading-primary {
  font-size: 90px;
}

.heading-secondary {
  font-size: 50px;
}
.summary {
  font-size: 25px;
  padding-right: 200px;
  margin-top: 30px;
  line-height: 33px;
  margin-bottom: 30px;
}

.about-me {
  text-align: center;
}

.divider {
  width: 100%;
  height: 2px;
  margin-top: 80px;
  background-color: var(--secondary-variant);
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section-heading {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
  font-family: "Kaushan Script", cursive;
}
.signature {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  cursor: pointer;
}
/* .link {
  text-decoration: none;
  color: var(--on-background);
} */
a {
  text-decoration: none;

  color: var(--on-background);
}
/* a:hover {
  color: var(--background);
} */

/* footer styling */

.footer {
  margin-top: 40px;
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  width: 231.21px;
  align-items: center;
}
.footer-image {
  width: 100px;
  border-radius: 50%;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-center {
  margin: 0 20px;
}
.icon-span {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
.social-icon {
  margin: 0 10px;
  width: 30px;
}
